<%- include ('./partials/header.ejs') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheet/landing.css">
<div class="landing" >
    <h1>Between the Lines</h1>
    <h2>Use sentiment analysis to find out</h2>
    <h2>what customers think of your brand or topic by </h2>
    <h2>analyzing raw text for clues about positive or negative sentiment. </h2>
    <div class="more">
        <a href="/items">Learn more</a>
    </div>
</div>
<%- include ('./partials/footer.ejs') %>
