<%- include ('./partials/header.ejs') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheet/landing.css" >
<div class="landing" >
    <h1>Between the Lines</h1>
    <a href="/items">Learn more</a>
</div>
<%- include ('./partials/footer.ejs') %>
